:root {
  --h1color1: #800080;
  --h1color2: #FFD700;
  --pcolor1: #330733;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    background: #f5f6f7;
    color: #1b1b32;
    margin: 0;
  }

/*HEADER COSTUMIZATION STYLES*/
  
  header {
      width: 100%;
      height: 80px;
      background-color: #4CAF50;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0px;
      z-index: 1000;
    }


  /*Logo styles*/

  header h1 {
      display: inline-block;
      text-align: center;
      position: relative;
      left: 4px;
      text-align: left;
      font-family: 'Caveat', sans-serif;
      font-size: 2.7rem;
      color: var(--h1color2);
        
  }
    
  #header-img {
      height: 60px;
      background-color: white;
      padding: 0.4rem;
      border-radius: 100%;
      margin-left: 10px;
      display: inline-block;
    }

  .logo {
    height: 80px;
    display: flex;
    width: 500px;
    justify-content: start;
    align-items: center;
  }


  /* Nav link styles */

  nav {
    width: 50%;
    height: 80px;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    font-size: 1.5rem;
  }

  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }

  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
    border-radius: 5px;
  }

  nav a {
    color: var(--h1color2);
    text-decoration: none;
    font-size: 1.7rem;
  }

  nav a:hover {
    color: var(--h1color1);
  }


/* MAIN */

main {
  padding-top: 65px;
  margin: 0;
}

main h1 {
  color: var(--h1color1);
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
  
}

p {
  color: var(--pcolor1)
}

  /* MAIN - FORM */
  form {
    width: 30vw;
    min-width: 300px;
    margin: auto;
    font-family: 'Raleway', sans-serif;

  }

  .info {
  padding: 10px;
  }

  form input {
    width: 100%;
    border: 1px solid var(--h1color1);
    border-radius: 3px;
    font-size: 0.95rem;
    color: var(--pcolor1);
    height: 1.6rem;
  }

  form label {
    font-size: 1rem;
    color: var(--h1color1);
    font-weight: 600;
  }

  #submit {
    width: 40%;
    margin:  10px auto;
    display: block;
    font-weight:  600;
    background-color: white;
    border: 2px solid var(--h1color1);
    border-radius: 6px;
  }

  #submit:hover {
    background-color: var(--h1color1);
    color: white;
    border: 1px double black;
  }

  /* How it works */
  .how-it-works {
    width: 60vw;
    min-width: 400px;
    max-width: 1000px;
    margin: 0 auto;
  }

  #video {
    border-radius: 10px;
    display: block;
    margin: 40px auto;
    aspect-ratio: 560 / 315;
    width: 100%;
    max-width: 560px;
  }

  /* Features */

  .features {
    width: 70vw;
    min-width: 400px;
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px 20px;
  }
  
  .features img {
    width: 15%;
    max-width: 100px;
    filter: invert(78%) sepia(72%) saturate(784%) hue-rotate(356deg) brightness(99%) contrast(109%);

  }

  .charcontent {
    width: 80%;
    
  }

  /* Pricing */

  .pricing {
    width: 70vw;
    min-width: 400px;
    margin: 35px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px 20px;
  }

  .pricingcont {
    width: 25%;
    min-width: 300px;
    height: 440px;
    border: solid 2px var(--pcolor1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
  }

  .sdsd {
    height: 250px;
    border-bottom: 5px solid var(--h1color2)
  }

  .pricinginfo {
    margin-top: -20px;
    padding: 0 10px;
  }

  .pricinginfo h1, .pricinginfo p {
    text-align: left;
  }

  .price {
    font-size: 2rem;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #pricing-versions {
    margin-top: 80px;
  }

  /* scroll */

  #how-it-works, #features, #pricing-versions {
    scroll-margin-top: 90px;
  }

/*media querys*/
@media (max-width: 690px) {
  header {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    top: 0;
    
  }
  
  nav {
    margin-top: -15px;
    width: 100%;
  }

  main {
    padding-top: 135px;
  }
  
}